.main-img {
    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
    background-size: 15%;
    background-color: rgb(1, 99, 227);
    height: 58px;
   

}

#description-found {

    padding-top: 310px;
}

#image-knight {
    position: absolute; top: 20%; left:0.5%
    
}

#image-arches {
position: absolute; top: 20%; right:33.5%
}

#description-wikimedia {
     padding-top: 5px;
}

table {

    width: 1020px;
}

#thead {
    
    background-color: rgb(71, 153, 208);
}
#tbody {

    background-color: rgb(0, 225, 255);
}

#tr-color {

     background-color: rgb(0, 225, 255);

}

.center {
    color: white;
    position: absolute;
    padding-left: 83px;
  
}